.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    
}

.submain{
    display: grid;
    grid-template-columns:  60% 40%;
    align-items: center;
    grid-gap: 10px;
    margin: 30px;

}

.images{
    width: 450px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 1s; 
}

.images:hover{
    width: 800px;
}
